In [11]:
import primer3 
import pandas 

xls = pandas.read_excel( '/Users/alex/Downloads/oligo_bulk-upload-template.xls', names=['oligo_name', 'sequence'] )
xls

    oligo_name                      sequence
0   Forward_01  TACTGCTGTAATACGACTCACTATAGGG
1   Forward_02  CTACTGCATAATACGACTCACTATAGGG
2   Forward_03  CTCGTGAGTAATACGACTCACTATAGGG
3   Forward_04  CTATATCGTAATACGACTCACTATAGGG
4   Forward_05  ATAGTACTTAATACGACTCACTATAGGG
5   Forward_06  CTATGAGTTAATACGACTCACTATAGGG
6   Reverse_01   GCTAGAGTGCTAGTTATTGCTCAGCGG
7   Reverse_02   TGAGACAGGCTAGTTATTGCTCAGCGG
8   Reverse_03   CACAGACAGCTAGTTATTGCTCAGCGG
9   Reverse_04   TCATGCTCGCTAGTTATTGCTCAGCGG
10  Reverse_05   CGTGAGCAGCTAGTTATTGCTCAGCGG
11  Reverse_06   GAGCTATAGCTAGTTATTGCTCAGCGG

In [12]:
xls[ 'primary_tm' ] = xls.sequence.map( lambda x: primer3.calcTm( x[8:] ) )
xls[ 'secondary_tm' ] = xls.sequence.map( primer3.calcTm )

In [13]:
xls

    oligo_name                      sequence  primary_tm  secondary_tm
0   Forward_01  TACTGCTGTAATACGACTCACTATAGGG   44.591869     55.387529
1   Forward_02  CTACTGCATAATACGACTCACTATAGGG   44.591869     54.463432
2   Forward_03  CTCGTGAGTAATACGACTCACTATAGGG   44.591869     55.961514
3   Forward_04  CTATATCGTAATACGACTCACTATAGGG   44.591869     52.194075
4   Forward_05  ATAGTACTTAATACGACTCACTATAGGG   44.591869     51.441244
5   Forward_06  CTATGAGTTAATACGACTCACTATAGGG   44.591869     52.461917
6   Reverse_01   GCTAGAGTGCTAGTTATTGCTCAGCGG   50.612736     59.349296
7   Reverse_02   TGAGACAGGCTAGTTATTGCTCAGCGG   50.612736     60.328449
8   Reverse_03   CACAGACAGCTAGTTATTGCTCAGCGG   50.612736     59.710114
9   Reverse_04   TCATGCTCGCTAGTTATTGCTCAGCGG   50.612736     61.098080
10  Reverse_05   CGTGAGCAGCTAGTTATTGCTCAGCGG   50.612736     61.748188
11  Reverse_06   GAGCTATAGCTAGTTATTGCTCAGCGG   50.612736     57.225120

In [ ]:
label,sequence
Forward_01,TACTGCTGTAATACGACTCACTATAGGG
Forward_02,CTACTGCATAATACGACTCACTATAGGG
Forward_03,CTCGTGAGTAATACGACTCACTATAGGG
Forward_04,CTATATCGTAATACGACTCACTATAGGG
Forward_05,ATAGTACTTAATACGACTCACTATAGGG
Forward_06,CTATGAGTTAATACGACTCACTATAGGG
Reverse_01,GCTAGAGTGCTAGTTATTGCTCAGCGG
Reverse_02,TGAGACAGGCTAGTTATTGCTCAGCGG
Reverse_03,CACAGACAGCTAGTTATTGCTCAGCGG
Reverse_04,TCATGCTCGCTAGTTATTGCTCAGCGG
Reverse_05,CGTGAGCAGCTAGTTATTGCTCAGCGG
Reverse_06,GAGCTATAGCTAGTTATTGCTCAGCGG